<ion-content padding>
  <h1 text-center>
    <ion-icon
      name="checkmark-done-outline"
      color="primary"
      class="icon-7em"
    ></ion-icon>
  </h1>

  <form [formGroup]="authForm" (submit)="onSubmit()">
    <ion-item>
      <ion-icon name="mail" color="primary" slot="start"> </ion-icon>
      <ion-input
        type="email"
        placeholder="Email"
        inputmode="email"
        autofocus="true"
        formControlName="email"
      ></ion-input>
      <!--Mensagem de erro , dirty significa que precisa digitar algo e hasError exibe o erro conforme ngIf-->
      <ion-note
        slot="end"
        color="danger"
        *ngIf="email.dirty && email.hasError('required')"
        >Required</ion-note
      >

       <ion-note
        slot="end"
        color="danger"
        *ngIf="email.dirty && email.hasError('email')"
        >Invalid Email</ion-note
      >
    </ion-item>

    <ion-item>
      <ion-icon name="lock-closed" color="primary" slot="start"></ion-icon>
      <ion-input
        type="password"
        placeholder="Password"
        formControlName="password"
      ></ion-input>
     <ion-note
        slot="end"
        color="danger"
        *ngIf="password.dirty && password.hasError('required')"
        >Required</ion-note
      >

       <ion-note
        slot="end"
        color="danger"
        *ngIf="password.dirty && password.hasError('minlength')"
        >Min 6 Cha</ion-note
      >
    </ion-item>
    <ion-button expand="block" type="submit" [disabled]="authForm.invalid">
      Login
    </ion-button>
  </form>

  <ion-button expand="block" fill="clear"> Create account </ion-button>
  <ion-button expand="block">
    <ion-icon name="logo-facebook" slot="start">Login with Facebook</ion-icon>
  </ion-button>
</ion-content>
